* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrains Mono", monospace; 
    font-size: 13px;
}

window#waybar {
    padding: 10px 0 0 0;
    background-color: transparent;
    /* border-bottom: 3px solid transparent; */
    color: #d1d1d1;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: transparent;
    border: none;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    border-radius: 8px;
}

#workspaces button:hover {
  color: #545454;
}

#workspaces button.focused, #workspaces button.active {
    color: #9c9c9c;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-center > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-center > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-right, .modules-left, .modules-center {
  background-color: #1c1c1c;
  padding: 4px 4px 4px 4px;
  border-radius: 10px;
}

#custom-power {
  padding-left: 6px;
  font-size: 14px;
  padding-right: 3px;
}

#clock {
  padding-left: 3px;
}

#battery {
  
}

#battery.charging, #battery.plugged {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
}

#power-profiles-daemon {
    padding: 0 3px;
}

#power-profiles-daemon.performance {
}

#power-profiles-daemon.balanced {
}

#power-profiles-daemon.power-saver {
}

label:focus {
    background-color: #000000;
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}
